/* Add this style rule to make links in the navbar white */
.header2-nav .nav-link {
    color: white !important;
}

/* Add this style rule to make dropdown items white */
.header2-nav .nav-item.dropdown:hover .dropdown-menu a {
    color: white !important;
}

.header2-nav {
  padding-top: 20px; /* Adjust the top padding as needed */
  padding-bottom: 150px; /* Adjust the bottom padding as needed */
}

.header2-nav .navbar {
  height: auto; /* Allow the navbar to adjust its height based on content */
}

.header2-nav .navbar-brand img {
  max-height: 100%; /* Make sure the logo height is responsive */
}

/* Add this style rule to make links in the navbar white */
.header2-nav .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}

/* Add this style rule to make dropdown items white */
.header2-nav .navbar-nav .nav-item.dropdown:hover .dropdown-menu a {
  color: rgb(0, 0, 0) !important;
}


/* Styles personnalisés pour les cartes */
.custom-card {
    height: 400px;
    background-color: #ededed;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-container {
  position: absolute;
  bottom: 0;
  left: 0;
}



.btn-overlay {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #cff;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-family: 'Superior Title', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    font-style: italic;
}
.video-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 40px; /* Ajustez la marge selon vos besoins */
    margin-bottom: 40px; /* Marge en bas pour l'espace */
}
.blockquote {
  text-align: center;
  /* Ajoutez d'autres styles si nécessaire */
}
.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  
}
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color: #cf3;;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#cf3;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#000000;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}