
.navbar-nav .nav-item.dropdown .dropdown-menu {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}

.header2-nav .nav-link {
    color: white;
}

.header2-nav .nav-item.dropdown:hover .dropdown-menu a {
    color: white;
}

.header2-nav {
  padding-top: 20px;
  padding-bottom: 170px;
}

.header2-nav .navbar {
  height: auto;
}

.header2-nav .navbar-brand img {
  max-height: 100%;
}

.header2-nav .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.header2-nav .navbar-nav .nav-item.dropdown:hover .dropdown-menu a {
  color: rgb(0, 0, 0);
}

.header2-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  border-radius: 0;
}

.header2-nav .btn {
  border-radius: 0;
}

.intro img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
  margin-left: 1050px; /* Ajoutez une marge à gauche pour l'espace entre le texte et l'image */
  margin-top: -750px;
}

.intro h2 {
  margin-top: 350px; /* Ajustez la valeur selon vos préférences pour l'espace entre le titre et le contenu */
  margin-left: 50px;
}

.intro p {
  margin-bottom: 50px; /* Ajustez la valeur selon vos préférences pour l'espace entre le texte et le bouton */
  margin-left: 50px;
}


.inspi-valo {
  height: 68px;
  background-color: transparent;
  border: none;
  position: relative;
  box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
}

.inspi-valo::before,
.inspi-valo::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.inspi-valo::before {
  top: 0;
  border-bottom: none;
}

.inspi-valo::after {
  bottom: 0;
  border-top: none;
}

.inspi-valo > div {
  background-color: #ccff33;
  color: #0f1923;
  height: 100%;
  text-transform: uppercase;
  vertical-align: center;
  padding: 0 4em;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: color 0.3s ease;
}

.inspi-valo > div > div {
  z-index: 1;
}

.inspi-valo > div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: rgb(0, 0, 0);
  transform: skew(-10deg);
  background-color: #000000;
  width: 120%;
  left: -130%;
  transition: left 0.3s ease;
}

.inspi-valo > div::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #0f1923;
  transition: background-color 0.3s ease;
}

.inspi-valo:hover > div {
  color: white;
}

.inspi-valo:hover > div::before {
  left: -10%;
}

.inspi-valo:hover > div::after {
  background-color: white;
}



.text-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 31%; 
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.text-bg h2 {
  background-color: #C0ABFF; 
  color: white; 
  display: inline-block;
  padding: 20px; 
  margin-top: 5px; 
  font-size: 50px;
}
h2 {
font-family:'Montserrat', sans-serif;
font-weight: 800;
}

.spacer {
  margin-top: 120px; 
}


.custom-card {
    height: 400px;
    background-color: #ededed;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-overlay {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #cff;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-family: 'Superior Title', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    font-style: italic;
}
.video-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 40px; /* Ajustez la marge selon vos besoins */
    margin-bottom: 40px; /* Marge en bas pour l'espace */
}

.bg-black p {
  /* Ajoutez d'autres styles si nécessaire */
  text-align: center;

  align-items: center;
  justify-content: center;
}



.navbar-quiz img {
  margin-top: 100px; 
}


.entry-title {
  display: none;
}
































.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  
}
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color: #cf3;;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#cf3;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#000000;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

















:root{
  --light-purple-color: #8854c0;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #ededed;
  --transition: all 300ms ease-in-out;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-title {
  text-align: center;
}
.quiz-question {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.quiz-option li{
  border-radius: 0rem;
  margin: .7rem 0;
  padding: .4rem 1.2rem;
  cursor: pointer;
  border: 3px solid var(--dark-color);
  background-color: var(--grey-color);
}

.quiz-option li:active {
  transform: scale(0.97);
}

.quiz-foot button{
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  padding: .5rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  initial-letter: 2px;

}



.quiz-container {
  max-width: 600px; /* Réduire la largeur du cadre selon vos besoins */
  margin: 0 auto; /* Centrer le cadre horizontalement */
}

.quiz-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.btn-retour {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px; /* Ajuster la hauteur selon vos besoins */
  text-align: center;
  line-height: 40px; /* Pour centrer verticalement le texte */
}



.content-container {
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}

.img-fluid.icon-img:hover {
  transform: rotate(12deg);
  transition: transform 0.3s ease;}


.blockquote-title {
    text-align: center;
}
.blockquote-container {
  background-color: #333; /* Couleur de fond */

  position: relative;
}

.blockquote-container::before,
.blockquote-container::after {
  content: "";
  position: absolute;
  width: 50px; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  background-size: contain;
  background-repeat: no-repeat;
}

.blockquote-container::before {
  top: 0;
  left: 0;
}

.blockquote-container::after {
  bottom: 0;
  right: 0;
}

.blockquote-title {
  text-align: center;
}
/* styles.css ou votre fichier de style personnalisé */
.blockquote-container-custom-padding {
  padding: 8rem; /* ou la valeur de votre choix */
}

/* Ajoutez ces styles à votre fichier CSS */


.background-section {
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 20%;
}

.image {
  width: 50%; /* Ajustez la largeur de l'image selon vos besoins */
  margin-right: 0%; /* Ajustez la marge de droite selon vos besoins */
  padding: 0%;

}

.image img {
  width: 100%;
  height: auto;
}

.container-btn-img {
  position: relative;
}

.card .btn {
  width: 60px; /* Ajustez la largeur selon vos besoins */
  height: 60px; /* Ajustez la hauteur selon vos besoins */
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}