
.text {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: left; /* Décale le texte à gauche */
}

.text h1 {
  font-size: 80px; /* Ajuste la taille de la police pour agrandir le texte */
  margin-left: 20px;
  margin-top: 150px;
  margin-bottom: 0%;
  
}

.text h2 {
  font-size: 80px; /* Ajuste la taille de la police pour agrandir le texte */
  margin-left: 20px;
  margin-bottom: 30px;
}


.navbar-nav .nav-item.dropdown .dropdown-menu {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}

.header2-nav .nav-link {
    color: white;
}

.header2-nav .nav-item.dropdown:hover .dropdown-menu a {
    color: white;
}

.header2-nav {
  padding-top: 20px;
  padding-bottom: 170px;
}

.header2-nav .navbar {
  height: auto;
}

.header2-nav .navbar-brand img {
  max-height: 100%;
}

.header2-nav .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.header2-nav .navbar-nav .nav-item.dropdown:hover .dropdown-menu a {
  color: rgb(0, 0, 0);
}

.header2-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  border-radius: 0;
}

.header2-nav .btn {
  border-radius: 0;
}

.intro img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
  margin-left: 1050px; /* Ajoutez une marge à gauche pour l'espace entre le texte et l'image */
  margin-top: -350px;
}
.intro h2 {
  margin-top: 250px; /* Ajustez la valeur selon vos préférences pour l'espace entre le titre et le contenu */
  margin-left: 50px;
  font-size: 60px;
}

.intro p {
  margin-bottom: 50px; /* Ajustez la valeur selon vos préférences pour l'espace entre le texte et le bouton */
  margin-left: 50px;
  font-size: 24px;
}

.inspi-valo {
  height: 68px;
  background-color: transparent;
  border: none;
  position: relative;
  box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
}

.inspi-valo::before,
.inspi-valo::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.inspi-valo::before {
  top: 0;
  border-bottom: none;
}

.inspi-valo::after {
  bottom: 0;
  border-top: none;
}

.inspi-valo > div {
  background-color: #ccff33;
  color: #0f1923;
  height: 100%;
  text-transform: uppercase;
  vertical-align: center;
  padding: 0 4em;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: color 0.3s ease;
}

.inspi-valo > div > div {
  z-index: 1;
}

.inspi-valo > div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: rgb(0, 0, 0);
  transform: skew(-10deg);
  background-color: #000000;
  width: 120%;
  left: -130%;
  transition: left 0.3s ease;
}

.inspi-valo > div::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #0f1923;
  transition: background-color 0.3s ease;
}

.inspi-valo:hover > div {
  color: white;
}

.inspi-valo:hover > div::before {
  left: -10%;
}

.inspi-valo:hover > div::after {
  background-color: white;
}

.inspi-valo2 {
  height: 68px;
  background-color: transparent;
  border: none;
  position: relative;
  box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
}

.inspi-valo2::before,
.inspi-valo2::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.inspi-valo2::before {
  top: 0;
  border-bottom: none;
}

.inspi-valo2::after {
  bottom: 0;
  border-top: none;
}

.inspi-valo2 > div {
  background-color: #ccff33;
  color: #0f1923;
  height: 100%;
  text-transform: uppercase;
  vertical-align: center;
  padding: 0 4em;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: color 0.3s ease;
}

.inspi-valo2 > div > div {
  z-index: 1;
}

.inspi-valo2 > div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: rgb(0, 0, 0);
  transform: skew(-10deg);
  background-color: #000000;
  width: 120%;
  left: -130%;
  transition: left 0.3s ease;
}

.inspi-valo2 > div::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #0f1923;
  transition: background-color 0.3s ease;
}

.inspi-valo2:hover > div {
  color: white;
}

.inspi-valo2:hover > div::before {
  left: -10%;
}

.inspi-valo2:hover > div::after {
  background-color: white;
}


.btn-page-in a {
  margin-left: 250px;
  margin-top: 80px;
}

.container-titre-in h2 {
  margin-left: 230px;
}
.container-titre-in legend {
  text-align: center;
}
.container-titre-in p {
  margin-top: 35px;
  font-weight: bold;
}

.container-titre-in input.form-control {
  background-color: #ededed; /* Changez la couleur de fond des champs de formulaire selon vos préférences */
  border: 1px solid #ccc; /* Ajoutez une bordure pour séparer les champs */
}

.btn-page-co a {
  margin-left: 250px;
  margin-top: 160px;
}

.container-titre-co h2 {
  margin-left: 230px;
  color: #ffffff;
}
.container-titre-co legend {
  text-align: center;
  margin-bottom: 44px;
}
.container-titre-co p {
  margin-top: 35px;
  color: #ffffff;
  font-weight: bold;
}

.container-titre-co input.form-control {
  background-color: #ededed; /* Changez la couleur de fond des champs de formulaire selon vos préférences */
  border: 1px solid #ccc; /* Ajoutez une bordure pour séparer les champs */
}


.text-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 31%; 
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.text-bg h2 {
  background-color: #C0ABFF; 
  color: white; 
  display: inline-block;
  padding: 20px; 
  margin-top: 5px; 
  font-size: 50px;
}
h2 {
font-family:'Montserrat', sans-serif;
font-weight: 800;
}

.spacer {
  margin-top: 120px; 
}


.custom-card {
    height: 400px;
    background-color: #ededed;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-overlay {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #cff;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-family: 'Superior Title', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    font-style: italic;
}
.video-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 40px; /* Ajustez la marge selon vos besoins */
    margin-bottom: 40px; /* Marge en bas pour l'espace */
}

.bg-black p {
  /* Ajoutez d'autres styles si nécessaire */
  text-align: center;

  align-items: center;
  justify-content: center;
}



.navbar-quiz img {
  margin-top: 100px; 
}


.entry-title {
  display: none;
}
































.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  
}
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color: #cf3;;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#cf3;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#000000;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

















:root{
  --light-purple-color: #8854c0;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #ededed;
  --transition: all 300ms ease-in-out;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-title {
  text-align: center;
}
.quiz-question {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.quiz-option li{
  border-radius: 0rem;
  margin: .7rem 0;
  padding: .4rem 1.2rem;
  cursor: pointer;
  border: 3px solid var(--dark-color);
  background-color: var(--grey-color);
}

.quiz-option li:active {
  transform: scale(0.97);
}

.quiz-foot button{
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  padding: .5rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  initial-letter: 2px;

}



.quiz-container {
  max-width: 600px; /* Réduire la largeur du cadre selon vos besoins */
  margin: 0 auto; /* Centrer le cadre horizontalement */
}

.quiz-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.btn-retour {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px; /* Ajuster la hauteur selon vos besoins */
  text-align: center;
  line-height: 40px; /* Pour centrer verticalement le texte */
}



.content-container {
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}

.img-fluid.icon-img:hover {
  transform: rotate(12deg);
  transition: transform 0.3s ease;}


.blockquote-title {
    text-align: center;
}
.blockquote-container {
  background-color: #333; /* Couleur de fond */

  position: relative;
}

.blockquote-container::before,
.blockquote-container::after {
  content: "";
  position: absolute;
  width: 50px; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  background-size: contain;
  background-repeat: no-repeat;
}

.blockquote-container::before {
  top: 0;
  left: 0;
}

.blockquote-container::after {
  bottom: 0;
  right: 0;
}

.blockquote-title {
  text-align: center;
}
/* styles.css ou votre fichier de style personnalisé */
.blockquote-container-custom-padding {
  padding: 8rem; /* ou la valeur de votre choix */
}

/* Ajoutez ces styles à votre fichier CSS */








.carousel-images .images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden; /* Ajout d'une propriété overflow pour cacher les images dépassant du conteneur */
  margin: 0 -10px; /* Ajustez la marge selon vos préférences */
}

.carousel-images .images img {
  width: calc(100% / 2.5 - 20px); /* Ajustez la largeur des images et la marge entre les images */
  flex: 0 0 auto;
  margin: 0 10px; /* Ajustez la marge entre les images */
}

#carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 90px;
}

#card-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card2 {
  margin-top: 50px;
  margin-right: 40px;
  width: 400px;  /*modifier la largeur des cartes*/
  height: 350px;
  padding: 30px;
  text-align: left;
  background-color: black;
  flex: 0 0 auto;
  
}

.stars-container {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.star {
  color: #C0ABFF;
  font-size: 40px;
  cursor: default;
  opacity: 0.5; /* Toutes les étoiles sont opaques par défaut */
}

.card2 p {
  color: white;
  cursor:default;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajoutez cette ligne pour un espacement en bas de la carte */
}

.profile-pic {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

#prev-btn, #next-btn {
  cursor: pointer;
  position: absolute;
  margin-top: 50px;
  margin-right: 300px;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
  background-color: white;
  border: none;
  padding: 10px;
  outline: none;
}

#prev-btn {
  right: 150px;
}

#next-btn {
  right: 120px;
}

.titre-resultat {
  margin-top: 40px; /* Ajustez la marge selon vos besoins */
 margin-left: 90px; /* Ajustez la marge selon vos besoins */
}
.description-resultat {
  margin-top: 30px; /* Ajustez la marge selon vos besoins */
  margin-left: 90px; /* Ajustez la marge selon vos besoins */
}
.resultats h2 {
  text-align: center;
  margin-top: 150px; /* Ajustez la marge supérieure selon vos préférences */
  font-size: 60px;
}

.resultats p {
  text-align: center;
  margin-bottom: 50px; /* Ajustez la marge supérieure selon vos préférences */
  font-size: 24px;
}

.card3 {
  margin-top: 50px;
  margin-right: 40px;
  width: 347px;  /*modifier la largeur des cartes*/
  height: 471px;
  padding: 30px;
  text-align: left;
  background-color: #ededed;
  flex: 0 0 auto;
  display: inline-block;
}

.card3 h2 {
  text-align: center;
}

.card3 p {
  text-align: center;
  font-size: 24px;
}

.card3 .profile-pic {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.centered-container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 40px;
}

