body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 14px 20px;
}

.logo img {
    width: 150px;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    float: right;
    display: inline;
    margin-right: 50px;
    font-size: 20px;
}

.navbar-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #ccff33;
}

h1 {
    color: #ffffff;
    font-size: 100px; 
    font-family: Arial, sans-serif;
    text-align:start;
    margin-left: 50px;
    margin-top: 500px;
}
p {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

.image-droite {
    position:relative;
    left: 1300px; /* adjust this value to move the image to the right by the desired amount */
    bottom: 800px;
}

   